fieldset#edit-field-counties-served--wrapper {max-width:900px; display:inline-block; padding:0; margin:0; }
fieldset#edit-field-counties-served--wrapper div.form-group, fieldset#edit-field-counties-served--wrapper div.form-type-checkbox {width:165px; float:left; margin:0; font-size:0.9em;}
fieldset#staff-profile-from-staff-directory, fieldset#staff-profile-from-staff-directory div {background:#ffd}

